* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
  position: relative;
}

#game-grid {
  position: absolute;
  width: 750px;
  height: 600px;
}

.cell {
  position: absolute;
  height: 64px;
  width: 64px;
}

.indestructible {
  background-image: url("sprites.png");
  width: 64px;
  height: 64px;
  background-position-x: -192px;
  background-position-y: -192px;
  background-size: 896px 1532px;
}

.walkable {
  background: #388700;
}

.breakable {
    background-image: url("sprites.png");
    width: 64px;
    height: 64px;
    background-position-x: -256px;
    background-position-y: -192px;
    background-size: 896px 1532px;
}

.bomber-man {
  width: 64px;
  height: 64px;
  background-image: url("sprites.png");
  background-size: 896px 1532px;
}

.bomb {
  background: purple;
}

.enemy {
  background: orange;
}

.power-up {
  background: blue;
}
